# Database
DATABASE_URL="postgresql://user:password@localhost:5432/verifydev_auth?schema=public"

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# Queues
CONSUME_QUEUE=project.analyzed
EXCHANGE_NAME=project.events

# Environment
NODE_ENV=development
